page-bd69-clubs {
    .content-fix{
        background: linear-gradient(to bottom, #254355, #102836);
    }
    .avatar{
        height: 10rem;
    }
    .box{
        display: none;
    }
    .show{
        display: block;
    }
    .title-btn{
        text-align: center;
        color: #1D1C1C;
        background-color: #707070;
        border-radius: 16px;
        padding: 5px 10px 5px 10px;
    }
    .btn-forcus{
        background-color: #FEE056;
    }
}
