page-bd69-clubs {
    .content-fix{
        background: linear-gradient(to bottom, #254355, #102836);
    }
    .avatar{
        height: 10rem;
    }
    .box{
        display: none;
    }
    .show{
        display: block;
    }
}
