page-profile {
    #header {
        height: 30%;
        background: linear-gradient(to bottom, #254355, #102836);
        position: relative;
    }
    #avatar {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        background: url("../assets/imgs/avatar-default.jpg");
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-position: 100% 100%;
        background-size: cover;
    }
    .scroll-content {
        background: white;
    }
    #user_name {
        margin-top: 20%;
        font-size: 2em;
    }
    #info {
        margin-top: 10%;
        // background-color: #f3f0e1;
    }
    #btn-back {
        color: white;
        font-size: 3em;
        padding-left: 20px;
    }
    #edit {
        padding-top: 10px;
        font-size: 1.2em;
        color: blue;
    }
}