form-input {
    .text-input[disabled]{
        opacity: 1;
    }
    .form-name{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .row{
        border-bottom: 1px dashed lightgray;
    }
    // .row:last-child{
    //     border: none;
    // }
}