<ion-header>

    <ion-toolbar>
        <search-top [disabled]="true"></search-top>
    </ion-toolbar>

</ion-header>


<ion-content padding>

    <!-- <div padding>
        <ion-segment [(ngModel)]="info_user">
            <ion-segment-button value="club">
                Football Club
            </ion-segment-button>
            <ion-segment-button value="profile">
                Profile
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="info_user">
        <ion-list *ngSwitchCase="'club'">
            <ion-item (click)="onClickCreateClub()">
                Tạo đội bóng
            </ion-item>

            <ion-item *ngFor="let club of mClubs">
                <ion-avatar item-left>
                    <img src="{{club.image}}" alt="">
                </ion-avatar>
                <b><h2>{{club.name}}</h2></b>
                <h3>Số thành viên : </h3>

            </ion-item>
        </ion-list>

        <div *ngSwitchCase="'profile'" id="profile">
            <div id="avatar"></div>
        </div>
    </div> -->
    <div class="container">
        <div id="profile">
            <ion-item (click)="onClickGoToProfile()">
                <div item-left class="avatar"></div>
                <h2>Khanh Vu</h2>
            </ion-item>
        </div>

        <div id="clubs">
            <ion-list>
                <ion-item *ngFor="let club of mClubs">
                    <div item-left class="avatar" [ngStyle]="{'background-image' : 'url('+club.image+')'}">

                    </div>
                    <b><h2>{{club.name}}</h2></b>
                </ion-item>
            </ion-list>
        </div>
    </div>

</ion-content>