<ion-header id="header">

    <ion-navbar>

        <ion-title>Users</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="container">
        <div id="profile">
            <ion-item (click)="onClickGoToProfile()">
                <div item-left class="avatar"></div>
                <h2>Khanh Vu</h2>
            </ion-item>
        </div>

        <div id="clubs">
            <ion-list>
                <ion-item-group>
                    <!-- List club manage -->
                    <ion-item-divider color="light">Đang quản lí</ion-item-divider>
                    <ion-item>
                        <ion-icon name="add"></ion-icon>Tạo đội bóng
                    </ion-item>
                    <ion-item (click)="onClickGoToGroup()" *ngFor="let club of mRecentClub">
                        <div item-left class="avatar-club" [ngStyle]="{'background-image' : 'url('+club.image+')'}">
                            <img src="club.image" alt="">
                        </div>
                        <h2>{{club.name}}</h2>
                    </ion-item>
                    <ion-item>
                        <ion-icon ios="ios-more" md="md-more"></ion-icon>
                        Xem thêm
                    </ion-item>


                    <!-- List club join -->
                    <ion-item-divider color="light">Đang tham gia</ion-item-divider>
                    <ion-item (click)="onClickGoToGroup()" *ngFor="let club of mRecentClub">
                        <div item-left class="avatar-club" [ngStyle]="{'background-image' : 'url('+club.image+')'}"></div>
                        <h2>{{club.name}}</h2>
                    </ion-item>
                    <ion-item>
                        <ion-icon ios="ios-more" md="md-more"></ion-icon>
                        Xem thêm
                    </ion-item>

                    <!-- Logout -->
                    <ion-item-divider color="light"></ion-item-divider>
                    <ion-item>
                        <ion-icon name="return-left"></ion-icon>
                        Đăng xuất
                    </ion-item>
                </ion-item-group>
            </ion-list>
        </div>
    </div>

</ion-content>